[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycode_similar = "1.4"
typing_extensions = "*"
gunicorn = "*"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
